footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 6.75rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.5);
  text-align: center;
  background-color: var(--clr-light); 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-bottom: 0;
  z-index: 800;
}

.footer-text {
  color: var(--clr-footer); 
  font-size: 1rem; 
}

@media (min-width: 1024px) {
  .footer-text {
    color: var(--clr-footer); 
    font-size: 1rem; 
  }
}