.gallery {
  padding: 2rem;
  background-color: var(--clr-primary);
  border-radius: var(--radius);
  margin: 1rem;
  margin-top: 125rem;
}

.gallery-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--clr-light);
  text-align: center;
  margin-bottom: 2rem;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

}