  .nav-links {
    display: none; 
    gap: 1.5rem;
  }

  .nav-links a {
    color: var( --clr-lighter-textr);
    text-decoration: none;
    font-weight: bold;
  }

  .nav-links a:hover {
    color: var(--clr-white);
  }

.off-screen-menu {
    background-color: var(--clr-primary-dark);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 1.8rem;
    transition: var(--transition);
    z-index: 999;
  }
  
  .off-screen-menu.active {
    width: 50%;
    right: 0;
  }
  
  .off-screen-menu ul {
    list-style: none;
    padding: 0;
  }
  
  .off-screen-menu li {
    margin: 1rem 0;
  }
  
  .off-screen-menu a {
    color: var(--clr-white);
    text-decoration: none;
    font-weight: bold;
  }
  
  .ham-menu {
    height: 2.5rem;
    width: 2.2rem;
    margin-top: 1.2rem;
    margin-right: 1rem;
    margin-left: auto;
    cursor: pointer;
    z-index: 1100;
    position: relative;
  }
  
  .ham-menu span {
    height: 4px;
    width: 100%;
    background-color: var(--clr-accent);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: var(--transition);
  }
  
  .ham-menu span:nth-child(1) {
    top: 25%;
  }
  .ham-menu span:nth-child(3) {
    top: 75%;
  }
  
  .ham-menu.active span {
    background-color: var(--clr-white);
  }
  .ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }
  .ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  
  .theme-toggle-container-desktop{
    display: none;
  }
  .theme-toggle-container {
    display: none;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .theme-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .theme-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .theme-toggle .slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
  }
  
  .theme-toggle .icon {
    position: absolute;
    top: 5px;
    font-size: 1rem;
    width: 20px;
    text-align: center;
    transition: 0.3s ease;
  }
  
  .theme-toggle .sun {
    left: 5px;
    color: #ffd700;
  }
  
  .theme-toggle .moon {
    right: 5px;
    color: #ccc;
  }
  
  .theme-toggle .slider::before {
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color:rgba(64, 88, 138, 0.384);
    border-radius: 50%;
    transition: 0.4s;
  }
  
  .theme-toggle input:checked + .slider {
    background-color: var(--clr-accent);
  }
  
  .theme-toggle input:checked + .slider::before {
    transform: translateX(30px);
  }
  
  @media (min-width: 1024px) {
    .ham-menu {
      display: none; 
    }


    .nav-links {
      display: flex; 
      gap: 2rem; 
      margin: 1rem;
    }

    .theme-toggle-container-desktop {
    display: flex; 
    justify-content: center;
    margin-left: 1rem;
  }
  .theme-toggle-container-desktop {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
  }

  .theme-toggle-desktop {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 50px;
    height: 25px;
    background-color: #5e5555;
    border-radius: var(--radius);
    transition: 0.4s;
  }

  .theme-toggle-desktop input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .theme-toggle-desktop .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: var(--radius);
    transition: background-color 0.3s ease;
    width: 3.2rem;
  }

  .theme-toggle-desktop{
    left: -10rem;
  }


  .theme-toggle-desktop .slider::before {
    position: absolute;
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    left: 4px;
    bottom: 2.5px;
    background-color: var(--clr-primary);
    border-radius: 50%;
    transition: transform 0.3s ease;
  }

  .theme-toggle-desktop input:checked + .slider {
    background-color: var(--clr-accent);
  }

  .theme-toggle-desktop input:checked + .slider::before {
    transform: translateX(25px);
  }

  .theme-toggle-desktop .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    pointer-events: none;
  }

  .theme-toggle-desktop .sun {
    left: 0.375rem;
  }

  .theme-toggle-desktop .moon {
    right: 0.1875rem;

  }

}