html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.services-page-container {
  display: grid; 
  grid-template-columns: 1fr; 
  gap: 2rem;
  align-items: center;
  justify-items: center;
}

.services-page-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 1.5rem;
  margin-top: 4rem;
  background-color: var(--clr-lighter);
  border-radius: var(--radius);
  transition: transform var(--transition), box-shadow var(--transition);
  cursor: pointer;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  border: 2px solid var(--clr-primary);
}

.services-page-card h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--clr-primary);
  margin-bottom: 0.5rem;
  text-align: left;
  width: 100%;
}

.services-page-card p {
  font-size: 1rem;
  color: var(--clr-text);
  line-height: 1.4;
  text-align: left;
  width: 100%;
}

.services-page-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.services-page-card:active {
  transform: scale(1);
}

@media (min-width: 1440px) {
  .services-page-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; 
  }
}
