:root {
  --clr-primary: #2C72B8;
  --clr-primary-dark: #002b59;
  --clr-accent: #0070c0;
  --clr-light: #f4f7fa;
  --clr-white: #ffffff;
  --clr-text: #222;
  --clr-text-light: #444;

  --radius: 1rem;
  --section-padding: 3rem 1rem;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  --transition: 0.3s ease;
}

:root[data-theme="dark"] {
  --clr-primary: #2C72B8;
  --clr-primary-dark: #1e293b;
  --clr-accent: #3b82f6;
  --clr-light: #1e1e1e;
  --clr-white: #121212;
  --clr-text: #e2e2e2;
  --clr-text-light: #cbd5e1;
  --box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--clr-light);
  color: var(--clr-text);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  margin-bottom: 0.5rem;
}
